{% extends "base.html" %}

{% block lab %}Заказ зерна{% endblock %}

{% block main %}
    <h1>Результат заказа</h1>
    
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% else %}
        <div>{{ result }}</div>
        {% if discount_applied %}
            <div style="color: green; margin-top: 10px;">
                Применена скидка 10% за большой объём. Размер скидки: {{ discount_amount }} руб.
            </div>
        {% endif %}
    {% endif %}
    <br>
    <div>
        <a href="/lab4/grain-form">Назад к форме заказа</a> | 
        <a href="/lab4/">В меню лабораторной</a>
    </div>
{% endblock %}