body {
    background-color: cornflowerblue;
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center
}