body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgray;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.lab5-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    padding: 20px;
    margin: 10px 0;
}

.lab5-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.lab5-link {
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: white;
}

.lab5-username {
    color: rgb(248, 216, 216);
    position: fixed;
    right: 20px;
}