{% extends "base.html" %}

{% block main %}
<h1 class="title">Новогодние подарки</h1>

<div class="info">
    Открыто: <b id="opened">{{ opened }}</b>/3 |
    Осталось подарков: <b id="remaining">{{ remaining }}</b>
</div>

<div class="field">
{% for g in gifts %}
    <div class="gift {% if g.opened %}opened{% endif %}"
         style="top:{{ g.top }}%; left:{{ g.left }}%;"
         onclick="openGift({{ g.id }})">

        <img src="{{ url_for('static', filename='lab9/' ~ g.box) }}">
    </div>
{% endfor %}
</div>

<div class="modal" id="modal">
    <div class="modal-content">
        <h2>Поздравляем!</h2>
        <img id="modal-image">
        <p id="modal-text"></p>
        <button onclick="closeModal()">Закрыть</button>
    </div>
</div>

<script>
const OPEN_URL = "{{ url_for('lab9.open_gift') }}";
</script>
<script src="{{ url_for('static', filename='lab9/lab9.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lab9/lab9.css') }}">
{% endblock %}