{% extends "base.html" %}

{% block head %}
    <style>
        table {
            width: 80%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #555;
            padding: 8px 12px;
            text-align: left;
        }
        h1 {
            text-align: center;
        }
    </style>
{% endblock %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2, Список книг{% endblock %}
{# основной контент: #}
{% block main %}
<body>
    <h1>Список книг</h1>
    <table>
        <tr>
            <th>Автор</th>
            <th>Название книги</th>
            <th>Жанр</th>
            <th>Количество страниц</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.author }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.pages }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}