{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабороторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/a">Без слэша</a></li>
        <li><a href="/lab2/a/">Со слэшем</a></li>
        <li><a href="/lab2/all_flowers">Список всех цветов</a></li>
        <li><a href="/lab2/clear_flowers">Очистить список цветов</a></li>
        <li><a href="/lab2/filters">Фильтры</a></li>
        <li><a href="/lab2/calc/">Калькулятор (по умолчанию 1/1)</a></li>
        <li><a href="/lab2/calc/10">Калькулятор с одним параметром (10/1)</a></li>
        <li><a href="/lab2/calc/15/5">Калькулятор с двумя параметрами (15/5)</a></li>
        <li><a href="/lab2/books_list">Книги</a></li>
        <li><a href="/lab2/berries_list">Ягоды</a></li>
        <hr>
        <a href="/">На главную</a>
    </ol>
{% endblock %}