{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>
    
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}
    
    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" name="title" value="{{ article['title'] }}" maxlength="50" required>
            </label>
        </div>
        
        <div>
            <label>
                Текст статьи:
                <textarea name="article_text" required>{{ article['article_text'] }}</textarea>
            </label>
        </div>
        
        <div>
            <button type="submit">Сохранить изменения</button>
            <br>
            <a href="{{ url_for('lab5.list') }}">Отмена</a>
        </div>
    </form>
{% endblock %}