{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div class="lab5-menu">
        <div class="lab5-links">
            <a href="/lab5/list" class="lab5-link">Список статей</a>
            <a href="/lab5/create" class="lab5-link">Создать статью</a>
            <a href="/lab5/login" class="lab5-link">Войти</a>
            <a href="/lab5/register" class="lab5-link">Регистрация</a>
            
            <span class="lab5-username">{{ login if login else 'Anonymous' }}</span>
        </div>
    </div>
    <a href="/">На главную</a>
    {% if session.get('login') %}
        <p>Вы вошли как {{ session.get('login') }} | <a href="{{ url_for('lab5.logout') }}">Выйти</a></p>
    {% endif %}
{% endblock %}