{% extends "rgzbase.html" %}
{% block title %}Админ{% endblock %}

{% block main %}
<h1 class="rgz-page-title">Пользователи</h1>

<ul class="rgz-initiatives-list">
{% for u in users %}
    <li class="rgz-initiative-item">

        {{ u.login }}

        {% if u.login != 'admin' %}
            <a href="{{ url_for('rgz.admin_delete_user', user_id=u.id) }}"
               class="rgz-delete-btn">
                Удалить
            </a>
        {% endif %}

    </li>
{% endfor %}
</ul>

<a href="/rgz/" class="rgz-link">
    Назад
</a>

{% endblock %}