{% extends "rgzbase.html" %}
{% block title %}Создать инициативу{% endblock %}

{% block main %}
<h1 class="rgz-page-title">Создать инициативу</h1>

<div class="rgz-form-container">

    <form method="post">

        <div class="rgz-form-group">
            <label>Название</label>
            <input type="text" name="title" class="rgz-input-field">
        </div>

        <div class="rgz-form-group">
            <label>Описание</label>
            <textarea name="description"
                      rows="4"
                      class="rgz-textarea-field"></textarea>
        </div>

        <button type="submit" class="rgz-btn">
            Создать
        </button>

    </form>

    <a href="/rgz/" class="rgz-link">
        Назад
    </a>

</div>
{% endblock %}