{% extends "rgzbase.html" %}
{% block title %}Регистрация{% endblock %}

{% block main %}
<h1 class="rgz-page-title">Регистрация</h1>

<div class="rgz-form-container">

    <form method="post">

        <div class="rgz-form-group">
            <label>Логин</label>
            <input type="text" name="login" class="rgz-input-field">
        </div>

        <div class="rgz-form-group">
            <label>Пароль</label>
            <input type="password" name="password" class="rgz-input-field">
        </div>

        <button type="submit" class="rgz-btn">
            Зарегистрироваться
        </button>

    </form>

    <a href="/rgz/login" class="rgz-link">
        Уже есть аккаунт?
    </a>

    <br>

    <a href="/rgz/" class="rgz-link">К инициативам</a>
</div>
{% endblock %}